:root {
    --color-primary: #2196f3;
    --color-primary-bright: #0077ff;
    --color-primary-dark: #1c80d0;
    --color-primary-darker: #02518d;
    --color-whitesmoke: whitesmoke;
    --color-text-white: whitesmoke;
    --color-text-whiter: white;
    --color-text-dark: rgb(50, 50, 50);
    --color-text-muted: rgba(255, 255, 255, 0.8);
}