.feed {
    flex: 0.6;
    margin: 0 24px;
}

.feed__inputContainer {
    background-color: white;
    padding: 16px 8px;
    /* padding-bottom: 16px; */
    border-radius: 16px;
    margin-bottom: 16px;
}

.feed__inputField {
    display: flex;
}

/* .feed_inputAvatar {
    width: 100%;
    height: 100%;
} */

.feed__input {
    border: 1px solid lightgray;
    border-radius: 32px;
    display: flex;
    padding: 16px;
    color: gray;
    padding-left: 16px;
    width: 100%;
}

.feed__input > form {
    display: flex;
    width: 100%;
    overflow-wrap: anywhere;
}

.feed__input > form > input {
    border: none;
    flex: 1;
    margin-left: 16px;
    outline-width: 0;
    font-weight: 600;
    /* overflow-wrap: anywhere; */
}

.feed__input > form > button {
    display: none;
}

.feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-evenly; */
    color: gray;
}

.feed hr {
    margin-bottom: 16px;
    color: gray;
    opacity: 0.4;
}

