.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    color: var(--color-text-dark-muted);
    cursor: pointer;
}

.headerOption__title {
    font-size: 16px;
    font-weight: 600;
}

.headerOption__icon {
    object-fit: contain;
    height: 24px!important;
    width: 24px!important;
}

.headerOption:hover {
    color: var(--color-primary);
}
