.login {
    background-color: #02518d;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
    padding-bottom: 30vh;
    height: 50vh;
}

.login > img {
    object-fit: contain;
    height: 96px;
    /* margin-top: 24px; */
    /* margin-bottom: 24px; */
    border: 3px solid whitesmoke;
    border-radius: 16px;
}

.login h2 {
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.login h4 {
    color: whitesmoke;
}

.login > form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    /* justify-content: center; */
}

.login > form > input {
    width: 320px;
    height: 32px;
    font-size: 20px;
    padding-left: 16px;
    margin-bottom: 10px;
    border-radius: 16px;
    border: 2px solid white;
    background-color: whitesmoke;
    /* color: #075b9b; */
    color: black;
}

.login > form > input:focus { 
    /* outline: 2px #3c88c2 !important; */
    outline: white !important;
    /* border-color: #3c88c2; */
    box-shadow: 0 0 10px whitesmoke;
}
/* .login > form > textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
} */

.login > form > button {
    width: 240px;
    height: 40px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-weight: 600;
    background-color: #2196f3;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
}

.login > form > button:hover {
    background-color: #0077ff;
    color: white;
    box-shadow: 0 0 10px whitesmoke;
    transition: 0.25 ease-in-out;
}

.login > p {
    margin-top: 8px;
    color: white;
    cursor: pointer;
}

.login > p:hover {
    color: #2196f3;
}