@import './colors.css';

.login {
    background-color: var(--color-primary-darker);
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
    padding-bottom: 30vh;
    height: 50vh;
}

.login > img {
    object-fit: contain;
    height: 96px;
    /* margin-top: 16px; */
    margin-bottom: 16px;
    border: 3px solid var(--color-whitesmoke);
    border-radius: 16px;
}

.login h2 {
    color: var(--color-text-white);
    font-size: 48px;
    font-weight: 600;
}

.login h4 {
    color: var(--color-text-white-muted);
}

.login > form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    /* justify-content: center; */
}

.login > form > input {
    width: 320px;
    height: 32px;
    font-size: 20px;
    padding-left: 16px;
    margin-bottom: 12px;
    border-radius: 16px;
    border: 2px solid var(--color-white);
    background-color: var(--color-whitesmoke);
    color: var(--color-text-dark);
}

.login > form > input:last-of-type {
    margin-bottom: 24px;
}

.login > form > input:focus {
    outline: var(--color-white) !important;
    box-shadow: 0 0 8px var(--color-whitesmoke);
}

.login > form > button {
    width: 240px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    font-size: large;
    font-weight: 600;
    background-color: var(--color-primary-dark);
    border: 2px solid var(--color-whitesmoke);
    border-radius: 8px;
    color: var(--color-text-white);
    cursor: pointer;
}

.login > form > button:hover {
    background-color: var(--color-primary-bright);
    color: var(--color-text-whiter);
    box-shadow: 0 0 8px var(--color-whitesmoke);
    transition: 0.25 ease-in-out;
}

.login > p {
    color: var(--color-text-white-muted);
    cursor: pointer;
}

.login > p:hover {
    text-decoration: underline;
    color: var(--color-text-whiter);
}