.post {
    background-color: var(--color-background-primary);
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.post__header {
    display: flex;
    margin-bottom: 8px;
}

.post__info {
    margin-left: 8px;
}

.post_Avatar {
    cursor: pointer;
}

.post_Avatar:hover {
    opacity: 0.867;
    transition: 0.2s ease-in-out;
}

.post__info > h2 {
    font-size: 16px;
}

.post__info > p {
    font-size: 14px;
    color: var(--color-text-dark-muted);
    font-weight: 600;
}

.post__body {
    overflow-wrap: anywhere;
}

.post__buttons {
    color: var(--color-text-dark-muted);
    display: flex;
}