.reaction {
    display: flex;
    align-items: center;
    margin: 16px 8px;
    padding: 4px;
}

.reaction:hover {
    background-color: var(--color-whitesmoke);
    border-radius: 8px;
    color: var(--color-primary-bright);
    cursor: pointer;
}

.reaction > h4 {
    margin-left: 5px;
}
